@charset "utf-8";
@import "../config/_base_setting";
@import "../config/_mixin";

/*--------
__header
-----------------------------------------------*/
.md_header {
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
}
.md_header__logo {
    position: absolute;
    top: 60px;
    left: -100px;
    &.home {
        top: 20px;
    }
    @include media(1360px) {
        left: -80px;
    }
    img {
        width: 150px;
        height: auto;
        display: block;
        @include media(1360px) {
            width: 130px;
        }
    }
}

/*--------
__footer
-----------------------------------------------*/
.md_footer {
    margin-top: 80px;
    background-image: url(../images/foot_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    padding: 60px 0 30px 0;
    text-align: center;
    color: #eee;
    .copyright {
        padding-top: 2em;
    }
}
.md_footer__logo {
    img {
        width: 150px;
        height: auto;
        display: block;
        margin: 0 auto;
    }
}



/*--------
__common
-----------------------------------------------*/
.wrapper {
    overflow: hidden;
}
.l_border {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 42%;
        height: 10px;
        background: #000;
    }
}
.ltl1 {
    letter-spacing: .1em;
}
.md_sec__ttl {
    padding-bottom: 1em;
    &.sub {
        padding-bottom: .5em;
    }
}

/*--------
__Top
-----------------------------------------------*/
.pTop {
    padding-top: 200px;
}
.pTop_mv {
    background-image: url(../images/mv_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    height: 80vh;
    min-height: 700px;
    max-height: 960px;
}
.pTop_mv__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    img {
        width: 300px;
        height: auto;
        display: block;
    }
}
.pTop_intro {
    padding-top: 60px;
}
.pTop_intro__ttl {
    padding-bottom: 1.5em;
}
.pTop_intro__summary {
    p {
        padding-bottom: 1em;
        &:last-child {
            padding-bottom: 0;
        }
    }
}
.pTop_intro__link {
    text-align: center;
    padding-top: 60px;
    a {
        text-decoration: none;
        display: inline-block;
        box-sizing: border-box;
        background: $c1;
        border-radius: 2em;
        line-height: 1;
        padding: 1em 4em;
        color: #000;
    }
}
.pTop_map {
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 80px;
    position: relative;
}

.pTop_map__image {
    width: 100%;
    height: auto;
    display: block;
}
.pTop_place__list {
    position: absolute;
    top: 10%;
    left: 3%;
    z-index: 2;
    column-count: 2;
    column-fill: auto;
    height: 80%;
    > li {
        padding: 3px 0;
        a {
            text-decoration: none;
            color: #fff;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;
            &:hover {
                .number {
                    background: #FEF13C;
                }
            }
            .number {
                color: #000;
                width: 20px;
                height: 20px;
                line-height: 18px;
                background: #fff;
                border: 1px solid #000;
                border-radius: 50%;
                text-align: center;
                font-size: 10px;
                font-weight: 700;
                margin-right: .5em;
                transition: all .1s linear;
            }
        }
    }
}
.pTop_place__num {
    > li {
        position: absolute;
        &:nth-child(1) {left: 405px;top: 320px;}
        &:nth-child(2) {left: 380px;top: 300px;}
        &:nth-child(3) {left: 365px;top: 265px;}
        &:nth-child(4) {left: 365px;top: 235px;}
        &:nth-child(5) {left: 445px;top: 280px;}
        &:nth-child(6) {left: 440px;top: 330px;}
        &:nth-child(7) {left: 470px;top: 333px;}
        &:nth-child(8) {left: 500px;top: 335px;}
        &:nth-child(9) {left: 525px;top: 310px;}
        &:nth-child(10) {left: 510px;top: 250px;}
        &:nth-child(11) {left: 545px;top: 240px;}
        &:nth-child(12) {left: 680px;top: 175px;}
        &:nth-child(13) {right: 255px;top: 45px;}
        &:nth-child(14) {right: 325px;top: 155px;}
        &:nth-child(15) {right: 352px;top: 175px;}
        &:nth-child(16) {right: 300px;top: 195px;}
        &:nth-child(17) {right: 200px;bottom: 295px;}
        &:nth-child(18) {right: 185px;bottom: 325px;}
        &:nth-child(19) {right: 195px;bottom: 355px;}
        &:nth-child(20) {right: 135px;bottom: 305px;}
        &:nth-child(21) {right: 85px;top: 330px;}
        &:nth-child(22) {right: 80px;top: 300px;}
        &:nth-child(23) {right: 55px;top: 318px;}
        &:nth-child(24) {right: 85px;top: 380px;}
        &:nth-child(25) {right: 175px;bottom: 225px;}
        &:nth-child(26) {right: 260px;bottom: 145px;}
        &:nth-child(27) {right: 280px;bottom: 120px;}
        &:nth-child(28) {right: 310px;bottom: 130px;}
        &:nth-child(29) {right: 340px;bottom: 25px;}
        &:nth-child(30) {right: 405px;bottom: 100px;}
        &:nth-child(31) {left: 535px;bottom: 165px;}
        &:nth-child(32) {left: 425px;top: 425px;}
        &:nth-child(33) {left: 390px;top: 390px;}
    }
    a {
        text-decoration: none;
        color: #000;
        width: 30px;
        height: 30px;
        line-height: 26px;
        background: #fff;
        border: 1px solid #000;
        border-radius: 50%;
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        display: block;
        transition: all .1s linear;
        &:hover {
            transform: scale(1.1);
            background: #FEF13C;
        }
    }
    .num_position {
    }
}

/*--------
__Archive
-----------------------------------------------*/
.aPlace {}
.aPlace_ttl {
    text-align: center;
    span {
        display: block;
    }
}
.aPlace_termTtl {
    font-style: normal;
    display: inline-block;
    box-sizing: border-box;
}

.aPlace_place__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    &::after {
        content:'';
        display: block;
        width: 30%;
    }
    li {
        width: 30%;
    }
}
.aPlace_place__thumb {
    img {
        max-width: 100%;
        height: auto;
        display: block;
    }
}


/*--------
__Single
-----------------------------------------------*/
.sPlace {
}
.sPlace_head {
    padding-top: 60px;
    padding-bottom: 50px;
    background-image: url(../images/sPlace_bg.jpg);
    background-size: 600px;
    background-repeat: repeat;
    background-position: center center;
    background-color: $c1;
}
.sPlace_title__wrap {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
}
.sPlace_title__num {
    text-align: center;
    padding: 15px;
    .kumano {
        display: block;
        letter-spacing: .12em;
        text-indent: .12em;
        line-height: 1.2;
    }
    .mandara {
        display: block;
        line-height: 1.2;
    }
    .num {
        display: block;
        line-height: 1.2;
    }
}
.sPlace_title {
    padding: 0 25px;
    border-left: 3px solid #000;
    .tagline {
        span {
            padding-right: 1em;
            line-height: 1.5;
            display: inline-block;
            box-sizing: border-box;
            &:last-child {
                padding-right: 0;
            }
        }
    }
}
.sPlace_name {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    .headtemple {
        padding-right: .5em;
    }
    .ttl {
        line-height: 1.2;
        white-space: nowrap;
        letter-spacing: .1em;
    }
}
.sPlace_rubi {
    padding-top: .25em;
}
.sPlace_summary {
    padding: 0 20px;
    br {
        content: '';
        &:after {
            content: '';
            display: block;
            height: 1em;
        }
        &:last-child {
            padding-bottom: 0;
        }
    }
}

.sPlace_hero {
    img {
        width: 100%;
        height: auto;
        display: block;
    }
}
.sPlace_guidance {
}
.sPlace_section {
    margin-top: 60px
}
.sPlace_column {
    padding-top: 60px
}
.sPlace_god {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1em;
    padding-top: 40px;
    .ttl {
        span {
            display: inline-block;
            box-sizing: border-box;
            border: 2px solid #000;
            line-height: 1;
            padding: .25em 0;
            white-space: nowrap;
            text-align: center;
            width: 80px;
        }
    }
    .name {
        padding-left: 15px;
        white-space: nowrap;
    }
}
.sPlace_deity {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 1em;
    .ttl {
        span {
            display: inline-block;
            box-sizing: border-box;
            border: 2px solid #000;
            line-height: 1;
            padding: .25em 0;
            white-space: nowrap;
            text-align: center;
            width: 80px;
        }
    }
}
.sPlace_deity__list {
    padding-left: 15px;
}

.sPlace_event__list {
    list-style-type: circle;
    padding-left: 1.5em;
    li {
        padding: .2em 0;
    }
}
.sPlace_suimage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    .sub_image__caption {
        width: 90%;
        margin: 0 auto;
        line-height: 1.5;
        color: #666;
        padding-top: .25em;
        text-align: center;
        span {
            display: inline-block;
            box-sizing: border-box;
            text-align: left;
            font-size: 10px;
        }
    }
    > li {
        width: 25%;
        img {
            width: 90%;
            height: auto;
            display: block;
            margin: 0 auto;
        }
    }
}
.sPlace_poetry {
    writing-mode: vertical-rl;
    letter-spacing: .25em;
    line-height: 2;
}
.sPlace_info {
    background: $c2;
    padding: 20px 30px;
}
.sPlace_info__ttl {
    padding-bottom: .5em;
}
.sPlace_access {
    padding-top: 1em;
    .ttl {
        padding-left: 1em;
    }
    .summary {
        padding-left: 1em;
        padding-bottom: 1em;
        &:last-child {
            padding-bottom: 0;
        }
    }
}


.sPlace_gmap {
    margin-top: 40px;
    position: relative;
    padding-top: 56.25%;
    height: 0;
    iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border:0;
    }
}
.sPlace_adjacentPost {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 60px;
    > li {
        &.nextpost {
            margin-left: auto;
        }
        &.prevpost {
            i {
                padding-left: 0;
                padding-right: 1em;
            }
        }
        a {
            text-decoration: none;
            color: #000;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;
        }
        .num {
            padding: 0 .25em;
        }
        i {
            padding-left: 1em;
        }
    }
}
